* {
    padding: 0;
    margin: 0;
}
.images {
    width: 350px;
    height: auto;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    border-radius: 10px;
}
h3 {
    position: relative;
}
h3::after {
    position: absolute;
    content: '';
    background: linear-gradient(to right, red, blue);
    height: 4px;
    width: 300px;
    bottom: 0;
    left: calc(50% - 150px);
    transition: 500ms;
}
h3:hover::after {
    width: 0;
}